body {
    width: 100vw;
    height: 100vh;
}

.vk-widget-wrapper {
    width: 350px;
    margin: 0 auto;
}
.vk-widget_posts {

}

.vk-widget_post {

}
.vk-widget_post-img {

}
.vk-widget_post-title {

}
.vk-widget_post-date {

}